html { height: 100%; }

body {
  padding: 0px 0px;
  margin: 0px 0px;
  height: 100%;
  background: -webkit-linear-gradient(45deg, #45A9FB, #1B40F9);
  background: linear-gradient(45deg, #45A9FB, #1B40F9); 
}

.flex-container {
  padding: 0px 0px;
  margin: 0px 0px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner {
  padding: 0px 0px;
  margin: 0px 0px;
  color: #ffffff;
  font-family: "Lucida Sans Unicode";
  font-size: 750%;
  font-style: italic;
  font-weight: bold;
  text-shadow: 
  -1px -1px .10em #cccccc, 
  1px -1px .10em #cccccc, 
  -1px 1px .10em #cccccc,
  1px 1px .10em #cccccc; 
  position: relative;
  bottom: 180px;
}

/* These l[n] letters are used for positioning purposes, 
 * the w[n] letters are then used because some of the 
 * animations only work with 
 * absolutely positioned elements */
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9 {
  position: relative;
  display: inline-block;
  visibility: hidden;
}

.l1 { 
   /* I have to use explict pixel size here so
   * the big 'L' doesn't squash next to the 'o'.
   * during the wipe animation! */
   margin-right: 9px; 
   padding-left: 10px;
}

.w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9 {
  position: absolute;
  visibility: visible; /* needed because the parent containers (l[n]) are hidden */
  -webkit-perspective: 300px;
          perspective: 300px;
}

@-webkit-keyframes fade-out { 
  0% {opacity: 1;} 
  100% {opacity: 0;} 
}

@keyframes fade-out { 0% 
  {opacity: 1;} 
  100% {opacity: 0;} 
}

.w1 { 
  overflow: hidden; /* seems necessary */
  padding-right: 5px; /* More explicit padding, for position purposes */
  padding-left: 8px;
  -webkit-animation-name: wipe-down;
          animation-name: wipe-down;
  -webkit-animation-duration: 1.95s;
          animation-duration: 1.95s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes wipe-down { from { height: 0px; } to { height: 200px; } }

@keyframes wipe-down { from { height: 0px; } to { height: 200px; } }

.fake-background-el {
  position: absolute;
  visibility: hidden;
  left: 18px;
  -webkit-animation-name: fake-it;
          animation-name: fake-it;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; 
  -webkit-animation-duration: 2s; 
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.japanese-letters {
  position:absolute;
  left: -40px;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'koruri-extrabold'; 
  -webkit-transform: scaleY(.60); 
      -ms-transform: scaleY(.60); 
          transform: scaleY(.60);
  letter-spacing: -0.05em;
  z-index: 101;
  -webkit-animation-name: wide-out;
          animation-name: wide-out;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wiki-link, .school-link {
  text-decoration: none;
  color: currentColor;
}

@-webkit-keyframes wide-out { 
  0%   { width: 0px; visibility: visible; } 
  35%  { width: 900px; visibility: visible; color: #ffffff; }
  65%  { width: 900px; visibility: visible; color: #E6438C; }
  100% { width: 900px; visibility: visible; color: #E6438C;}
}

@keyframes wide-out { 
  0%   { width: 0px; visibility: visible; } 
  35%  { width: 900px; visibility: visible; color: #ffffff; }
  65%  { width: 900px; visibility: visible; color: #E6438C; }
  100% { width: 900px; visibility: visible; color: #E6438C;}
}

@-webkit-keyframes fake-it {
  0% { visibility: hidden; }
  5% { visibility: visible; }
  50% { text-shadow: 
        -1px -1px .15em #FFFFFF, 
        1px -1px .15em #FFFFFF, 
        -1px 1px .15em #FFFFFF,
        1px 1px .15em #FFFFFF; }
  100% { text-shadow: none; opacity: 0;}
}

@keyframes fake-it {
  0% { visibility: hidden; }
  5% { visibility: visible; }
  50% { text-shadow: 
        -1px -1px .15em #FFFFFF, 
        1px -1px .15em #FFFFFF, 
        -1px 1px .15em #FFFFFF,
        1px 1px .15em #FFFFFF; }
  100% { text-shadow: none; opacity: 0;}
}

.w2, .w3, .w4, 
.w6, .w7, .w8, .w9 {
  opacity: 0; /* animation-fill-mode will persist opacity 1 used during animation */
  -webkit-animation-name: flip-up-one;
          animation-name: flip-up-one;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: 0% 80%;
      -ms-transform-origin: 0% 80%;
          transform-origin: 0% 80%;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}

.w2 { -webkit-animation-delay: 3.6s; animation-delay: 3.6s }
.w3 { -webkit-animation-delay: 3.75s; animation-delay: 3.75s; }
.w4 { -webkit-animation-delay: 3.9s; animation-delay: 3.9s; }
.w6 { -webkit-animation-delay: 4.05s; animation-delay: 4.05s; }
.w7 { -webkit-animation-delay: 4.2s; animation-delay: 4.2s }
.w8 { -webkit-animation-delay: 4.35s; animation-delay: 4.35s; }
.w9 { -webkit-animation-delay: 4.5s; animation-delay: 4.5s; }

@-webkit-keyframes flip-up-one {
  0%   { -webkit-transform: rotateX( -90deg); transform: rotateX( -90deg); opacity: 1; }
  100% { -webkit-transform: rotateX( 0deg ); transform: rotateX( 0deg ); opacity: 1; }
}

@keyframes flip-up-one {
  0%   { -webkit-transform: rotateX( -90deg); transform: rotateX( -90deg); opacity: 1; }
  100% { -webkit-transform: rotateX( 0deg ); transform: rotateX( 0deg ); opacity: 1; }
}

.w5 { 
  opacity: 0; /*animation-fill-mode will persist opacity in animation */
  -webkit-animation-name: slide-letter-to-right;
          animation-name: slide-letter-to-right;
  -webkit-animation-delay: 2.05s;
          animation-delay: 2.05s;
  -webkit-animation-duration: 1.45s;
          animation-duration: 1.45s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-letter-to-right {
  0% { -webkit-transform: translateX(-235px); transform: translateX(-235px); opacity: 1 }
  100% { -webkit-transform: translateX(0px); transform: translateX(0px); opacity: 1 }
}

@keyframes slide-letter-to-right {
  0% { -webkit-transform: translateX(-235px); transform: translateX(-235px); opacity: 1 }
  100% { -webkit-transform: translateX(0px); transform: translateX(0px); opacity: 1 }
}

.pulsing {
  position: absolute;
  visibility: hidden;
  left: 18px;
}
.p1 {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.p2 {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
  0%   { opacity: 1; -webkit-transform: scale(1); transform: scale(1); visibility: visible; }
  75%  { opacity: 0; }
  100% { opacity: 0; -webkit-transform: scale(4); transform: scale(4); visibility: visible; }
}

@keyframes pulse {
  0%   { opacity: 1; -webkit-transform: scale(1); transform: scale(1); visibility: visible; }
  75%  { opacity: 0; }
  100% { opacity: 0; -webkit-transform: scale(4); transform: scale(4); visibility: visible; }
}

/********************************************/
/* SCHOOL IDOL LETTER STYLING AND ANIMATION */

div.school-idol {
  /* Font is from here: 
   * http://www.fontex.org/download/saxmono.ttf
   */
  font-family: 'saxmono';
  font-style: normal;
  font-size: 2.25rem;
  color: #E6438C; /* pink */ 
  -webkit-transform: scaleY(.85); 
      -ms-transform: scaleY(.85); 
          transform: scaleY(.85);
  position: absolute;
  top: 392px;
  left: 220px;
  white-space: nowrap;
  opacity: 0; /* animation-fill-mode should persist aniamtion opacity 1 */
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
  -webkit-animation-delay: 7.75s;
          animation-delay: 7.75s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@font-face {
  font-family: 'saxmono'; /* http://www.fontex.org/download/saxmono.ttf */
  src: url('./saxmono.ttf');
}

@-webkit-keyframes fade-in {
  from { opacity: 0; -webkit-transform: translateY(40px) scaleY(.85); transform: translateY(40px) scaleY(.85); }
  to   { opacity: 1; -webkit-transform: translateY(0px) scaleY(.85); transform: translateY(0px) scaleY(.85); }
}

@keyframes fade-in {
  from { opacity: 0; -webkit-transform: translateY(40px) scaleY(.85); transform: translateY(40px) scaleY(.85); }
  to   { opacity: 1; -webkit-transform: translateY(0px) scaleY(.85); transform: translateY(0px) scaleY(.85); }
}

@font-face {
  font-family: 'koruri-extrabold'; /* http://koruri.lindwurm.biz */
  src: url('./Koruri-Extrabold.ttf');
}

/********************************************/
.c1{ display: inline-block; }
.let1 { -webkit-animation: fling-out1 .3s linear 5.5s 1 normal forwards; animation: fling-out1 .3s linear 5.5s 1 normal forwards }
.let2 { -webkit-animation: fling-out2 .3s linear 5.55s 1 normal forwards; animation: fling-out2 .3s linear 5.55s 1 normal forwards }
.let3 { -webkit-animation: fling-out3 .3s linear 5.6s 1 normal forwards; animation: fling-out3 .3s linear 5.6s 1 normal forwards }
.let4 { -webkit-animation: fling-out4 .3s linear 5.65s 1 normal forwards; animation: fling-out4 .3s linear 5.65s 1 normal forwards }
.let5 { -webkit-animation: fling-out5 .3s linear 5.7s 1 normal forwards; animation: fling-out5 .3s linear 5.7s 1 normal forwards }
.let6 { -webkit-animation: fling-out6 .3s linear 5.75s 1 normal forwards; animation: fling-out6 .3s linear 5.75s 1 normal forwards }
.let7 { -webkit-animation: fling-out7 .3s linear 5.8s 1 normal forwards; animation: fling-out7 .3s linear 5.8s 1 normal forwards }
.let8 { -webkit-animation: fling-out8 .3s linear 5.85s 1 normal forwards; animation: fling-out8 .3s linear 5.85s 1 normal forwards }
.let9 { -webkit-animation: fling-out9 .3s linear 5.9s 1 normal forwards; animation: fling-out9 .3s linear 5.9s 1 normal forwards }
.let10 { -webkit-animation: fling-out10 .3s linear 6s 1 normal forwards; animation: fling-out10 .3s linear 6s 1 normal forwards }

@-webkit-keyframes fling-out1 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-80px, 0px, -400px); transform: translate3d(-80px, 0px, -400px); } }

@keyframes fling-out1 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-80px, 0px, -400px); transform: translate3d(-80px, 0px, -400px); } }
@-webkit-keyframes fling-out2 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-100px, -100px, -400px); transform: translate3d(-100px, -100px, -400px); } }
@keyframes fling-out2 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-100px, -100px, -400px); transform: translate3d(-100px, -100px, -400px); } }
@-webkit-keyframes fling-out3 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-100px, 150px, -400px); transform: translate3d(-100px, 150px, -400px); } }
@keyframes fling-out3 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-100px, 150px, -400px); transform: translate3d(-100px, 150px, -400px); } }
@-webkit-keyframes fling-out4 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-50px, -400px, -400px); transform: translate3d(-50px, -400px, -400px); } }
@keyframes fling-out4 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-50px, -400px, -400px); transform: translate3d(-50px, -400px, -400px); } }
@-webkit-keyframes fling-out5 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(0px, 150px, -400px); transform: translate3d(0px, 150px, -400px); } }
@keyframes fling-out5 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(0px, 150px, -400px); transform: translate3d(0px, 150px, -400px); } }
@-webkit-keyframes fling-out6 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(100px, 200px, -400px); transform: translate3d(100px, 200px, -400px); } }
@keyframes fling-out6 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(100px, 200px, -400px); transform: translate3d(100px, 200px, -400px); } }
@-webkit-keyframes fling-out7 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(100px, -300px, -400px); transform: translate3d(100px, -300px, -400px); } }
@keyframes fling-out7 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(100px, -300px, -400px); transform: translate3d(100px, -300px, -400px); } }
@-webkit-keyframes fling-out8 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-200px, -150px, -400px); transform: translate3d(-200px, -150px, -400px); } }
@keyframes fling-out8 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(-200px, -150px, -400px); transform: translate3d(-200px, -150px, -400px); } }
@-webkit-keyframes fling-out9 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(200px, 500px, -500px); transform: translate3d(200px, 500px, -500px); } }
@keyframes fling-out9 {
  0%   { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
  100% { opacity: 0; -webkit-transform: translate3d(200px, 500px, -500px); transform: translate3d(200px, 500px, -500px); } }
